{% extends 'events/base.html' %}

{% block content %}

	<h1>Events</h1>
	<br/>

<!-- for loop to print out events on Events page-->
{% for event in event_list %}

	<!-- HTML cards to make the info display nicer-->
	<div class="card">
	  <div class="card-header">
	    {{ event }}
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Venue: {{ event.venue }}</h5>
	    <p class="card-text">
	    
	<ul>
		<li>Date: {{ event.timeslot }}</li>
		<li>Venue: {{ event.venue }}</li>
		<li>Host: {{ event.host }}</li>
		<li>Description: {{ event.description }}</li>

		<!-- for loop to print out list of attendees on Events page-->
		<li>Attendees:<br/>
		{% for user in event.attendees.all %}
		{{ user }}<br/>
		{% endfor %} 
		</li>
	</ul>
	    </p>
	  </div>
	  	<div class="card-footer text-muted">
	  		<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
	  	</div>
	</div>

<br/>
<br/>
{% endfor %}

{% endblock %}
